



<form action="" class="columns is-mobile"  style="margin-top: 8%;" [formGroup]="micronumb1"  >
    <div class="column is-half is-offset-one-quarter">
      <div class="field" >
          <p class="control has-icons-left has-icons-right">
            
            <div  style="margin-top: 4%;">
              <input class="input" type="password" placeholder=" Password" width="500" height="auto" formControlName="password">
              <div *ngIf="!micronumb1.get('password')!.valid && micronumb1.get('password')!.touched" style="color: red;" >!!Enter the Password please!!</div>
           
            </div>
            
           
  
         
         
        </div>
        
        <div class="has-text-centered" style="margin-top: 3%;">
            <button class="button is-info is-light" type="submit" (click)="clickmepass()" >Edit</button>
        </div>
      

   
      
     
    </div>
    <!-- (click)="clickonedit()" -->

    <div *ngIf="incorrectPassword != undefined">
      {{incorrectPassword}}

    </div>
   
  
</form> 
